.App {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.task {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  min-width: 45%;
}

.task.completed {
  background-color: #f0f0f0;
  text-decoration: line-through;
}

.task-form {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}

.task-img {
  padding-top: 50px;
}
